.modal-container{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(153, 153, 153, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    .modal-body{
        background-color: white;
        padding: 50px ;
        box-shadow: 4px 4px 10px gray;
        border-radius: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            input, select{
                border: none;
                background-color: #E7F0FE;
                border-radius: 4px;
                padding: 12px;
            }
            input:focus{
                outline: none;
            }
            button{
                border: none;
                padding: 10px;
                border-radius: 5px;
                color: white;
                background-color: dodgerblue;
                cursor: pointer;
                transition-duration: 0.5s;
            }
            button:hover{
                background-color: blue;
            }
        }
        .close{
            position: absolute;
            top: 0;
            right: 10px;
        }

    }
}